@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.unit-homepage-brands__section {
  display: block;
  width: 1440px;
  height: 352px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 1);
  position: relative;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

.unit-homepage-brands__wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 152px;
  margin: 100px 0;
  padding: 0;
  overflow: hidden;

  .slick-dots {
    list-style-type: none;
    display: block;
    position: absolute;
    width: calc(100% - 140px);
    height: 20px;
    margin: 0;
    top: 140px;
    left: 50%;
    transform: translate(-50%);
    padding: 0;
    overflow: hidden;
    z-index: 15;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 5px;
    }

    li button {
      display: inline-block;
      width: 8px;
      height: 8px;
      background: rgba(42, 84, 144, 0.6);
      border-radius: 50%;
      border: solid 2px rgba(42, 84, 144, 0.6);
      margin: 0;
      padding: 0;
      color: transparent;
    }

    li.slick-active button {
      background: rgba(255, 255, 255, 0.6);
      border: solid 2px rgba(42, 84, 144, 0.6);
    }
  }

  .slick-track {
    margin-left: 70px;
  }
}

.unit-homepage-brands__slide {
  float: left;
  display: block;
  position: relative;
  width: 310px !important;
  height: 152px;
  margin: 0 10px;
  padding: 0;
}

.unit-homepage-brands__item {
  display: block;
  position: relative;
  width: 100%;
  height: 124px;
  padding: 0;
  margin: 0 auto;
}

.unit-homepage-brands__picture {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  margin: 0;
  z-index: 5;
}

.unit-homepage-brands__caption {
  float: left;
  display: block;
  position: absolute;
  width: calc(100%-40px);
  height: 60px;
  margin: 0;
  top: 0;
  left: 0;
  font-family: Inter;
  font-weight: Regular;
  font-size: 14px;
  line-height: 18px;
  text-wrap: wrap;
  text-align: center;
  padding: 10px 20px;
  z-index: 5;
}

@media only screen and (max-width: 1440px) {
  .unit-homepage-brands__section {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .unit-homepage-brands__section {
    padding: 0;
    width: 100%;
    height: 191px;
  }

  .unit-homepage-brands__wrapper {
    display: block;
    position: relative;
    width: 100%;
    height: 130px;
    margin: 20px 0;
    padding: 0;
    overflow: hidden;
  
    .slick-dots {
      top: 120px;
    }

    .slick-track {
      margin-left: -25px;
    }
  }

  .unit-homepage-brands__slide {
    width: 350px !important;
    height: 110px;
  }

  .unit-homepage-brands__item {
    width: 100%;
    height: 92px;
  }

  .unit-homepage-brands__picture {
    top: 60px;
    height: 43px;
  }

  .unit-homepage-brands__caption {
    font-size: 12px;
    line-height: 16px;
  }
}

@media only screen and (max-width: 480px) {

  .unit-homepage-brands__slide {
    width: 375px !important;
    height: 92px;
    margin: 0;
  }

  .unit-homepage-brands__picture {
    bottom: 0;
    height: 43px;
  }

}