@import url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fustat&display=swap");

* {
  box-sizing: border-box;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.unit-homepage-collections__section {
  display: block;
  width: 1440px;
  margin: 0 auto;
  height: 589px;
  background: rgba(255, 255, 255, 1);
  position: relative;
  padding: 50px 30px 20px 30px;
  text-align: center;
  overflow: hidden;
}

@media only screen and (max-width: 1440px) {
  .unit-homepage-collections__section {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .unit-homepage-collections__section {
    padding: 40px 30px;
  }
}

.unit-homepage-collections__header {
  float: left;
  position: relative;
  display: block;
  width: 100%;
  color: rgba(5, 43, 102, 1);
  font-family: Noto Serif;
  font-weight: Regular;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 20px;
}

.unit-homepage-collections__action {
  float: left;
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0 20px;
}

.unit-homepage-collections__button {
  display: inline-block;
  position: relative;
  background: rgba(42, 84, 144, 1);
  color: rgba(255, 255, 255, 1);
  padding: 16px 80px;
  font-family: Fustat;
  font-weight: Bold;
  font-size: 16px;
  border-radius: 32px;
}

.unit-homepage-collections__wrapper {
  float: left;
  display: block;
  position: relative;
  width: 100%;
  margin: 30px 0;
  padding: 0 30px 0 30px;

  .slick-dots {
    list-style-type: none;
    display: block;
    position: relative;
    width: calc(100% - 140px);
    height: 20px;
    margin: 0;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    padding: 0;
    overflow: hidden;
    z-index: 5;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 5px;
    }

    li button {
      display: inline-block;
      width: 8px;
      height: 8px;
      background: rgba(42, 84, 144, 0.6);
      border-radius: 50%;
      border: solid 2px rgba(42, 84, 144, 0.6);
      margin: 0;
      padding: 0;
      color: transparent;
    }

    li.slick-active button {
      background: rgba(255, 255, 255, 0.6);
      border: solid 2px rgba(42, 84, 144, 0.6);
    }
  }
}

.unit-homepage-collections__slide {
  float: left;
  display: block;
  position: relative;
  width: 244px;
  height: 244px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0;
  margin: 0 10px;
  border-radius: 10px;
}

@media only screen and (max-width: 768px) {
  .unit-homepage-collections__header {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0;
    padding: 0 20px;
  }

  .unit-homepage-collections__button {
    margin-top: 15px;
    width: 100%;
  }

  .unit-homepage-collections__wrapper {
    padding: 20px 0 10px 0;
    margin-bottom: 10px;
  }

  .unit-homepage-collections__slide {
    width: 140px;
    height: 140px;
  }

}
