@import url("https://fonts.googleapis.com/css?family=Noto+Serif&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.unit-homepage-features__section {
  display: block;
  width: 1440px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 1);
  position: relative;
  padding: 0;
  padding-top: calc(566 / 1440 * 100%);
}

.unit-homepage-features__picture {
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  padding-top: calc(566 / 720 * 50%);
  background: url("../images/v43_402.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 5;
}

.unit-homepage-features__content {
  display: block;
  position: absolute;
  width: 36%;
  height: 60%;
  top: 50%;
  right: 25%;
  transform: translate(50%, -50%);
  margin: 0;
  text-align: left;
  padding: 0;
  z-index: 5;
}

.unit-homepage-features__header {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  color: rgba(5, 43, 102, 1);
  font-family: Noto Serif;
  font-weight: Regular;
  font-size: 32px;
  line-height: 36px;
  text-align: left;
}

.unit-homepage-features__list {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.unit-homepage-features__item {
  display: block;
  float: left;
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.unit-homepage-features__item-icon {
  display: block;
  float: left;
  position: relative;
  width: 74px;
  height: 63px;
  background: url("../images/v43_407.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: 20px;
}

.unit-homepage-features__item-title {
  display: block;
  float: left;
  position: relative;
  width: 70%;
  color: rgba(55, 77, 113, 1);
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  text-align: left;
  margin-bottom: 5px;
}

.unit-homepage-features__item-caption {
  display: block;
  float: left;
  position: relative;
  width: 70%;
  color: rgba(55, 77, 113, 1);
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  text-align: left;
}

@media only screen and (max-width: 1440px) {
  .unit-homepage-features__section {
    width: 100%;
    margin: 0;
  }
}

@media only screen and (max-width: 1300px) {
  .unit-homepage-features__content {
    width: 40%;
    height: 80%;
  }
}

@media only screen and (max-width: 1110px) {

  .unit-homepage-features__header {
    font-size: 24px;
    line-height: 28px;
  }

  .unit-homepage-features__item-title {
    font-size: 14px;
  }

  .unit-homepage-features__item-caption {
    font-size: 14px;
  }

}

@media only screen and (max-width: 992px) {

  .unit-homepage-features__section {
    padding: 0;
  }

  .unit-homepage-features__picture {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding-top: calc(260 / 375 * 100%);
  }

  .unit-homepage-features__content {
    float: left;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 50px 10px 20px 20px;
    transform: translate(0, 0);
  }

  .unit-homepage-features__item-icon {
    width: 60px;
    height: 51px;
    margin: 0;
    margin-right: 20px;
    padding: 0;
  }

}